body {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: beige;
    font-family: sans-serif;
}

main {
    text-align:center;
}

ul {
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
    float:left;
}

li a {
  display: block;
  /*color: white;*/
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

footer {
    
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      /*background-color: #f0f0f0; /* Example background color */
      text-align: center; /* Example text alignment */
    }
